<ActionBar class="action-bar-dark">
  <StackLayout orientation="horizontal">
    <StackLayout orientation="horizontal" horizontalAlignment="left" class="action-item-left">
      <Button text="&#xf20d;" class="ion" verticalAlignment="center"></Button>
      <Label text="09:00:10" class="time-elapsed"></Label>
      <Label text="Left"></Label>
    </StackLayout>

    <GridLayout columns="*, 50" class="action-item-right">
      <StackLayout col="0" orientation="horizontal" horizontalAlignment="right" class="credits">
        <Image src="res://icon_rose"></Image>
        <Label text="1,800" class="credit"></Label>
      </StackLayout>
      <Image col="1" src="res://icon_chat" class="icon-chat" horizontalAlignment="left"></Image>
    </GridLayout>
  </StackLayout>
</ActionBar>

<GridLayout rows="60, 20, *">
  <GridLayout row="0" columns="*, *, *, *" class="sub-nav-tab">
    <label col="0" text="Today" class="current"></label>
    <label col="1" text="Past"></label>
    <label col="2" text="Find"></label>
    <label col="3" text="L.bot" class="last"></label>
  </GridLayout>
  <StackLayout row="1">
    <Label text="Choose only one"></Label>
  </StackLayout>
  <GridLayout row="2" columns="*, *">
    <StackLayout col="0" class="person">
      <AbsoluteLayout class="person-card">
        <Image src="res://user-2" stretch="aspectFill" class="profile-image"></Image>

        <GridLayout columns="*, 28, 32" class="social-icons">
          <Image col="1" src="res://icon_fackbook" stretch="aspectFill" horizontalAlignment="left"></Image>
          <Image col="2" src="res://icon_linkedin" stretch="aspectFill" horizontalAlignment="left"></Image>
        </GridLayout>

        <StackLayout class="person-card-content">
          <Label text="Do you like spinning class?" class="say-hello"></Label>
          <Label text="29, Software Engineer" class="basic-info"></Label>
        </StackLayout>
      </AbsoluteLayout>

      <StackLayout class="person-detail">
        <GridLayout rows="14, 18" columns="20, auto, auto">
          <Label row="0" col="1" text="Height" class="person-detail-title"></Label>
          <Label row="1" col="0" class="dot-highlight"></Label>
          <Label row="1" col="1" colSpan="2" text="6.2 - Cute enough" class="person-detail-content"></Label>
        </GridLayout>

        <GridLayout rows="14, 18" columns="20, auto, auto">
          <Label row="0" col="1" text="Religion" class="person-detail-title"></Label>
          <Label row="1" col="0" class="dot-highlight"></Label>
          <Label row="1" col="1" colSpan="2" text="Christian" class="person-detail-content"></Label>
        </GridLayout>

        <GridLayout rows="14, 18" columns="20, auto, auto">
          <Label row="0" col="1" text="Employer" class="person-detail-title"></Label>
          <Label row="1" col="0" class="dot-highlight"></Label>
          <Label row="1" col="1" text="Apple" class="person-detail-content"></Label>
          <Label row="1" col="2" text="(verified)" class="person-detail-content-verified"></Label>
        </GridLayout>

        <GridLayout rows="14, 18" columns="20, auto, auto">
          <Label row="0" col="1" text="Education" class="person-detail-title"></Label>
          <Label row="1" col="0" class="dot-highlight"></Label>
          <Label row="1" col="1" text="UC Berkeley" class="person-detail-content"></Label>
          <Label row="1" col="2" text="(verified)" class="person-detail-content-verified"></Label>
        </GridLayout>

        <GridLayout rows="14, 18" columns="20, auto, auto">
          <Label row="0" col="1" text="Salary" class="person-detail-title"></Label>
          <Label row="1" col="0" class="dot-highlight"></Label>
          <Label row="1" col="1" colSpan="2" text="100k - 120k" class="person-detail-content"></Label>
        </GridLayout>
      </StackLayout>

      <Button text="I want to know more about him" class="person-learn-more center" textWrap="true"></Button>
    </StackLayout>
    <StackLayout col="1" class="person">
      <AbsoluteLayout class="person-card">
        <Image src="res://user-1" stretch="aspectFill" class="profile-image"></Image>

        <GridLayout columns="*, 28, 32" class="social-icons">
          <Label col="0" colspan="2" text=""></Label>
          <Image col="2" src="res://icon_linkedin" class="social-icon icon-linkedin" stretch="aspectFill" horizontalAlignment="left"></Image>
        </GridLayout>

        <StackLayout class="person-card-content">
          <Label text="I have two cats :)" class="say-hello"></Label>
          <Label text="32, IT Consultant" class="basic-info"></Label>
        </StackLayout>
      </AbsoluteLayout>

      <StackLayout class="person-detail">
        <GridLayout rows="14, 18" columns="20, *, *">
          <Label row="0" col="0"></Label>
          <Label row="0" col="1" text="Height" class="person-detail-title"></Label>
          <Label row="1" col="0" class="dot-highlight"></Label>
          <Label row="1" col="1" colSpan="2" text="6.1 - Muscular" class="person-detail-content"></Label>
        </GridLayout>

        <GridLayout rows="14, 18" columns="20, *, *">
          <Label row="0" col="0"></Label>
          <Label row="0" col="1" text="Religion" class="person-detail-title"></Label>
          <Label row="1" col="0" class="dot-highlight"></Label>
          <Label row="1" col="1" colSpan="2" text="Christian" class="person-detail-content"></Label>
        </GridLayout>

        <GridLayout rows="14, 18" columns="20, *, 45">
          <Label row="0" col="0"></Label>
          <Label row="0" col="1" text="Employer" class="person-detail-title"></Label>
          <Label row="1" col="0" class="dot-highlight"></Label>
          <Label row="1" col="1" text="Google" class="person-detail-content"></Label>
          <Label row="1" col="2" text="(verified)" class="person-detail-content-verified"></Label>
        </GridLayout>

        <GridLayout rows="14, 18" columns="20, *, 45">
          <Label row="0" col="0"></Label>
          <Label row="0" col="1" text="Education" class="person-detail-title"></Label>
          <Label row="1" col="0" class="dot-highlight"></Label>
          <Label row="1" col="1" text="CMU Master" class="person-detail-content"></Label>
          <Label row="1" col="2" text="(verified)" class="person-detail-content-verified"></Label>
        </GridLayout>

        <GridLayout rows="14, 18" columns="20, *, *">
          <Label row="0" col="0"></Label>
          <Label row="0" col="1" text="Salary" class="person-detail-title"></Label>
          <Label row="1" col="0" class="dot-highlight"></Label>
          <Label row="1" col="1" colSpan="2" text="100k - 150k" class="person-detail-content"></Label>
        </GridLayout>
      </StackLayout>

      <Button text="I want to know more about him" class="person-learn-more center" textWrap="true"></Button>
    </StackLayout>
  </GridLayout>
</GridLayout>