<ActionBar class="action-bar-dark">
  <ActionItem ios.position="left">
    <Button text="&#xf20d;" class="ion" horizontalAlignment="center" verticalAlignment="center"></Button>
  </ActionItem>
  <ActionItem ios.position="right" android.position="popup">
    <Image src="res://icon-love-arrow" scaleX="0.7" scaleY="0.7"></Image>
  </ActionItem>
</ActionBar>

<GridLayout rows="60, *">
  <GridLayout row="0" columns="*, *, *, *" class="sub-nav-tab">
    <label col="0" text="Today" class="current"></label>
    <label col="1" text="Past"></label>
    <label col="2" text="Find"></label>
    <label col="3" text="L.bot" class="last"></label>
  </GridLayout>
  <GridLayout row="1" columns="*, *">
    <StackLayout col="0" class="person">
      <StackLayout class="person-card">
        <Button text="Guy No.1" class="img"></Button>

        <Label text="Do you like spinning class?" class="say-hello"></Label>
        <Label text="29, Sotware Engineer" class="basic-info"></Label>
      </StackLayout>

      <StackLayout class="person-detail">
        <GridLayout rows="14, 18" columns="20, *">
          <Label row="0" col="0"></Label>
          <Label row="0" col="1" text="Height" class="person-detail-title"></Label>
          <Label row="1" col="0" class="dot-highlight"></Label>
          <Label row="1" col="1" text="6.2 - Cute enough" class="person-detail-content"></Label>
        </GridLayout>

        <GridLayout rows="14, 18" columns="20, *">
          <Label row="0" col="0"></Label>
          <Label row="0" col="1" text="Religion" class="person-detail-title"></Label>
          <Label row="1" col="0" class="dot-highlight"></Label>
          <Label row="1" col="1" text="Christian" class="person-detail-content"></Label>
        </GridLayout>

        <GridLayout rows="14, 18" columns="20, *">
          <Label row="0" col="0"></Label>
          <Label row="0" col="1" text="Employer" class="person-detail-title"></Label>
          <Label row="1" col="0" class="dot-highlight"></Label>
          <Label row="1" col="1" text="Apple (verified)" class="person-detail-content"></Label>
        </GridLayout>

        <GridLayout rows="14, 18" columns="20, *">
          <Label row="0" col="0"></Label>
          <Label row="0" col="1" text="Education" class="person-detail-title"></Label>
          <Label row="1" col="0" class="dot-highlight"></Label>
          <Label row="1" col="1" text="UC Berkeley" class="person-detail-content"></Label>
        </GridLayout>

        <GridLayout rows="14, 18" columns="20, *">
          <Label row="0" col="0"></Label>
          <Label row="0" col="1" text="Salary" class="person-detail-title"></Label>
          <Label row="1" col="0" class="dot-highlight"></Label>
          <Label row="1" col="1" text="100k - 120k" class="person-detail-content"></Label>
        </GridLayout>
      </StackLayout>

      <Button text="I want to know more about him" class="person-learn-more"></Button>
    </StackLayout>
    <StackLayout col="1" class="person">
      <StackLayout class="person-card">
        <Button text="Guy No.2" class="img"></Button>

        <Label text="I have two cats :)" class="say-hello"></Label>
        <Label text="32, IT Consultant" class="basic-info"></Label>
      </StackLayout>

      <StackLayout class="person-detail">
        <GridLayout rows="14, 18" columns="20, *">
          <Label row="0" col="0"></Label>
          <Label row="0" col="1" text="Height" class="person-detail-title"></Label>
          <Label row="1" col="0" class="dot-highlight"></Label>
          <Label row="1" col="1" text="6.1 - Muscular" class="person-detail-content"></Label>
        </GridLayout>

        <GridLayout rows="14, 18" columns="20, *">
          <Label row="0" col="0"></Label>
          <Label row="0" col="1" text="Religion" class="person-detail-title"></Label>
          <Label row="1" col="0" class="dot-highlight"></Label>
          <Label row="1" col="1" text="Christian" class="person-detail-content"></Label>
        </GridLayout>

        <GridLayout rows="14, 18" columns="20, *">
          <Label row="0" col="0"></Label>
          <Label row="0" col="1" text="Employer" class="person-detail-title"></Label>
          <Label row="1" col="0" class="dot-highlight"></Label>
          <Label row="1" col="1" text="Google (verified)" class="person-detail-content"></Label>
        </GridLayout>

        <GridLayout rows="14, 18" columns="20, *">
          <Label row="0" col="0"></Label>
          <Label row="0" col="1" text="Education" class="person-detail-title"></Label>
          <Label row="1" col="0" class="dot-highlight"></Label>
          <Label row="1" col="1" text="CMU Master" class="person-detail-content"></Label>
        </GridLayout>

        <GridLayout rows="14, 18" columns="20, *">
          <Label row="0" col="0"></Label>
          <Label row="0" col="1" text="Salary" class="person-detail-title"></Label>
          <Label row="1" col="0" class="dot-highlight"></Label>
          <Label row="1" col="1" text="100k - 150k" class="person-detail-content"></Label>
        </GridLayout>
      </StackLayout>

      <Button text="I want to know more about him" class="person-learn-more"></Button>
    </StackLayout>
  </GridLayout>
</GridLayout>