@import 'assets/styles/variables.scss';

.sub-nav-tab {
  border-bottom-style: solid;
  border-bottom-width: 1;
  border-bottom-color: rgba(114, 114, 114, 0.4);

  background-color: rgb(247, 247, 247);

  Label {
    width: 100%;
    border-right-style: solid;
    border-right-width: 1;
    border-right-color: rgb(231, 231, 231);

    font-size: 18;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: rgb(170, 170, 170);

    &.last{
      border-right-width: 0;
    }

    &.current {
      color: $white;
      background-color: rgb(102, 160, 255);
    }
  }
}

.person {
  border-right-style: solid;
  border-right-width: 1;
  border-right-color: rgb(231, 231, 231);
}

.person-card {
  margin: 12;
  border-radius: 4;

  background-color: rgba(0, 0, 0, 0.21);

  .img {
    height: 130;

    text-align: center;
    background-color: lightgray;
  }

  Label {
    margin: 0 8;

    font-weight: 400;
  }

  .say-hello {
    padding: 12 0 4 0;

    font-size: 13;
    color: rgb(123, 123, 123);
  }

  .basic-info {
    padding-bottom: 12;

    font-size: 14;
    color: rgb(40, 40, 40);
  }
}

.person-detail {
  margin: 4 12 12 12;

  GridLayout {
    margin-bottom: 10;
  }

  .person-detail-title {
    font-size: 13;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(209, 209, 209);
  }

  .person-detail-content {
    font-size: 14;
    color: rgb(123, 123, 123);
  }

  .dot-highlight {
    width: 8;
    height: 8;
    background-color: $cyan-primary;
  }
}

.person-learn-more {
  margin: 8 12 12 12;
  border-radius: 12;

  font-size: 14;
  color: $white;
  background-color: rgb(102, 160, 255);
}