<ActionBar class="action-bar-dark">
  <ActionItem ios.position="left" (tap)="navToPage()">
    <Image src="res://icon-user" scaleX="0.6" scaleY="0.6"></Image>
  </ActionItem>
  <StackLayout>
    <Image src="res://app-logo" scaleX="0.7" scaleY="0.7"></Image>
  </StackLayout>
  <ActionItem ios.position="right" android.position="popup">
    <Image src="res://icon-love-arrow" scaleX="0.7" scaleY="0.7"></Image>
  </ActionItem>
</ActionBar>

<GridLayout>
  <Label text="discover page"></Label>
</GridLayout>