<GridLayout>
  <slides [loop]="false" [pageIndicators]="true">
    <slide klass="slide-1 bg-image">
      <Label text="This is Panel 1" textWrap="true"></Label>
    </slide>
    <slide klass="slide-2 bg-image">
      <Label text="This is Panel 2" textWrap="true"></Label>
    </slide>
    <slide klass="slide-3 bg-image">
      <Label text="This is Panel 3" textWrap="true"></Label>
    </slide>
    <slide klass="slide-4 bg-image">
      <Label text="This is Panel 4" textWrap="true"></Label>
    </slide>
  </slides>

  <!--<StackLayout class="training-group" verticalAlignment="bottom" rows="*, *">-->
    <!--<StackLayout class="training-info" row="0">-->
      <!--<Label class="h3 center" text="No More Netfilx and Chill"></Label>-->
      <!--<Label class="p center" textWrap="true"-->
             <!--text="Find down-to-earth people near your location and Foreal will help you to meet up safely"-->
             <!--verticalAlignment="center"></Label>-->
    <!--</StackLayout>-->

    <!--<GridLayout class="training-topics" columns="auto, *, auto">-->
      <!--<Button col="0" class="ion arrow" text="&#xf124;" horizontalAlignment="center"></Button>-->
      <!--<GridLayout col="1">-->
        <!--<Button class="ion dot" text="&#xf21b;"></Button>-->
        <!--<Button class="ion dot" text="&#xf21b;"></Button>-->
        <!--<Button class="ion dot" text="&#xf21b;"></Button>-->
      <!--</GridLayout>-->
      <!--<Button col="2" class="ion arrow" text="&#xf125;" horizontalAlignment="center"></Button>-->
    <!--</GridLayout>-->
  <!--</StackLayout>-->
</GridLayout>