<GridLayout>
  <slides [loop]="false" [pageIndicators]="true" (onSkipTraining)="onSkipTraining()">
    <slide klass="slide-1 bg-image training-content">
      <Label class="h3 center" text="Safe Meetup and Date"></Label>
      <Label class="p center" textWrap="true"
      text="You can share your meetup location with your bestie and preview date plan from your potential dates"
      verticalAlignment="center"></Label>
    </slide>
    <slide klass="slide-2 bg-image training-content">
      <Label class="h3 center" text="No More Netfilx and Chill"></Label>
      <Label class="p center" textWrap="true"
             text="Find down-to-earth one and meet up safely."
             verticalAlignment="center"></Label>
    </slide>
    <slide klass="slide-3 bg-image training-content">
      <Label class="h3 center" text="Stop googling the plan"></Label>
      <Label class="p center" textWrap="true"
             text="L.Bot will help you to plan romantic date and recommended based on your preferences"
             verticalAlignment="center"></Label>
    </slide>
  </slides>
</GridLayout>