@import 'assets/styles/variables.scss';

.slide-1 {
  background-color: darkslateblue;
}

.slide-2 {
  background-color: darkcyan;
}

.slide-3 {
  background-color: darkgreen;
}

.slide-4 {
  background-color: darkgoldenrod;
}

.slide-5 {
  background-color: darkslategray;
}

Label {
  text-align: center;
  width: 100%;
  font-size: 35;
  margin-top: 35;
  color: #fff;
}

.training-bg {
  background-image: url("res://training-bg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.training-group {
  width: 100%;
  height: 240;
}

.training-info {
  margin-bottom: 40;

  Label {
    margin-bottom: 0;

    color: $white;
    font-weight: 500;
  }

  .h3 {
    font-size: 22;
  }

  .p {
    width: 85%;
  }
}

.training-topics {
  width: 100%;
  height: 60;

  background-color: $white;

  .arrow {
    width: 18;
    height: 18;
    margin-right: 8;
    border-radius: 5;

    font-size: 22;
    color: $purple;
  }

  .dot {
    font-size: 10;
    color: $purple-light;
  }
}