@import 'shared/styles/nova/colors.scss';

.slider-light {
  background-color: $color-light;
}

.slider-accent {
  background-color: $color-accent;
}

.slider-dark {
  background-color: $color-dark;
}