@import 'assets/styles/variables.scss';

@mixin slideIndicator ($size: 10, $color: #fff) {
  width: $size;
  height: $size;
  margin-left: $size / 4;
  margin-right: $size / 4;
  margin-top: 0;
  border-radius: $size / 2;

  background-color: $color;
  opacity: 0.9;
}

.footer {
  width: 100%;
  height: 10%;
  margin-top: 90%;

  background-color: $white;

  Button {
    width: 35%;
    font-size: 22;
    color: $purple;
  }

  StackLayout {
    horizontal-align: center;
  }

  .arrow-left {
    margin-left: 5%;

    text-align: left;
  }

  .arrow-right {
    margin-right: 5%;

    text-align: right;
  }

  .skip-training {
    width: auto;
    margin-left: 85%;

    color: $text-primary-color;
    font-weight: 700;
  }
}

.slide-indicator-active {
  @include slideIndicator(10, $purple);
}

.slide-indicator-inactive {
  @include slideIndicator(10, $purple);
  opacity: 0.4;
}

// @TODO move to original location instead of module section
.slide-1 {
  background-image: url("res://training-bg-1");
}

.slide-2 {
  background-image: url("res://home-bg");
}

.slide-3 {
  background-image: url("res://training-bg-1");
}

.slide-4 {
  background-image: url("res://home-bg");
}

.training-content {
  margin-bottom: 40;

  Label {
    margin-bottom: 0;

    color: $white;
    font-weight: 500;
  }

  .h3 {
    margin-top: 75%;
    font-size: 22;
  }

  .p {
    width: 85%;
  }
}