<GridLayout class="bg-image login-bg">
  <GridLayout class="login-group" verticalAlignment="bottom" rows="*, *">
    <StackLayout class="btn-facebook" row="0">
      <GridLayout class="center" (tap)="login('facebook')">
        <Button class="fa" text="&#xf230;"></Button>
        <Label class="p" text="Sign in with Facebook"></Label>
      </GridLayout>
    </StackLayout>
    <StackLayout class="btn-linkedin" row="1">
      <GridLayout class="center" (tap)="login('linkedin')">
        <Button class="fa" text="&#xf00d;"></Button>
        <Label class="p" text="Sign in with Linkedin"></Label>
      </GridLayout>
    </StackLayout>
  </GridLayout>
</GridLayout>