<ActionBar class="action-bar-dark">
  <ActionItem ios.position="left" (tap)="navToPage()">
    <Image src="res://icon-user" scaleX="0.6" scaleY="0.6"></Image>
  </ActionItem>
  <StackLayout>
    <Image src="res://app-logo" scaleX="0.7" scaleY="0.7"></Image>
  </StackLayout>
  <ActionItem ios.position="right" android.position="popup">
    <Image src="res://icon-love-arrow" scaleX="0.7" scaleY="0.7"></Image>
  </ActionItem>
</ActionBar>

<GridLayout class="bg-image home-bg" rows="auto, auto, *">
  <StackLayout class="home-shoutout" row="0">
    <Label class="p" text="Find your real dates for real! and meet up safely" horizontalAlignment="center"></Label>
  </StackLayout>

  <StackLayout class="home-promotion-section" row="1">
    <Image src="res://home-promotion"></Image>
  </StackLayout>

  <StackLayout class="home-button-section" row="2">
    <GridLayout columns="*, auto, *">
      <GridLayout col="0">
        <StackLayout class="ring-shadow btn-remove-section">
          <StackLayout class="btn btn-remove">
            <Button text="&#xf00d;" class="fa" horizontalAlignment="center" verticalAlignment="center"></Button>
          </StackLayout>
        </StackLayout>
      </GridLayout>
      <GridLayout col="1">
        <StackLayout class="ring-shadow">
          <StackLayout class="btn btn-key">
            <Image src="res://icon-key-info" scaleX="0.7" scaleY="0.7" horizontalAlignment="center" verticalAlignment="center"></Image>
          </StackLayout>
        </StackLayout>
      </GridLayout>
      <GridLayout col="2">
        <StackLayout class="ring-shadow btn-heart-section">
          <StackLayout class="btn btn-heart">
            <Button text="&#xf004;" class="fa" horizontalAlignment="center" verticalAlignment="center"></Button>
          </StackLayout>
        </StackLayout>
      </GridLayout>
    </GridLayout>
  </StackLayout>
</GridLayout>