<ActionBar class="action-bar-dark">
  <ActionItem ios.position="left" (tap)="navToPage()">
    <Image src="res://icon-user" scaleX="0.6" scaleY="0.6"></Image>
  </ActionItem>
  <StackLayout>
    <Image src="res://app-logo" scaleX="0.7" scaleY="0.7"></Image>
  </StackLayout>
  <ActionItem ios.position="right" android.position="popup">
    <Image src="res://icon-love-arrow" scaleX="0.7" scaleY="0.7"></Image>
  </ActionItem>
</ActionBar>

<GridLayout class="bg-image home-bg" rows="auto, auto, *">
  <StackLayout class="home-shoutout" row="0">
    <Label class="p" text="Find your real dates for real! and meet up safely" horizontalAlignment="center"></Label>
  </StackLayout>
  <StackLayout class="home-promotion-section" row="1">
    <Image src="res://home-promotion"></Image>
  </StackLayout>
  <StackLayout class="home-button-section" row="2">
    <GridLayout columns="*, *, *">
      <StackLayout col="0">
        <Button text="&#xf00d;" class="fa"></Button>
      </StackLayout>
      <StackLayout col="1">
        <Image src="res://icon-key-info"></Image>
      </StackLayout>
      <StackLayout col="2">
        <Button text="&#xf004;" class="fa"></Button>
      </StackLayout>
    </GridLayout>
  </StackLayout>
</GridLayout>