<ActionBar class="action-bar-dark">
  <ActionItem ios.position="left" (tap)="navToPage()">
    <Button text="&#xf007;" class="fa"></Button>
  </ActionItem>
  <StackLayout>
    <Label text="Real" class="title"></Label>
  </StackLayout>
  <ActionItem ios.position="right" android.position="popup">
    <Button text="&#xf004;" class="fa"></Button>
  </ActionItem>
</ActionBar>

<GridLayout class="bg-image">
  <StackLayout>
    <Label class="p" text="Find your real dates for real! and meet up safely" horizontalAlignment="center"></Label>
  </StackLayout>
</GridLayout>