.home-bg {
  background-image: url("res://home-bg");
}

.home-shoutout {
  height: 120;

  label {
    margin-top: 70;
    font-weight: 500;
    color: white;
  }
}

.home-promotion-section {
  image {
    margin-left: 40;
  }
}

.home-button-section {

}

