@import 'assets/styles/variables.scss';

.home-bg {
  background-image: url("res://home-bg");
}

.home-shoutout {
  height: 120;

  label {
    margin-top: 70;
    font-weight: 500;
    color: white;
  }
}

.home-promotion-section {
  image {
    margin: 0 0 0 40;
  }
}

$circle-size: 60;
$ring-size: 76;

.home-button-section {
  GridLayout {
    margin-top: -50;
  }

  .ring-shadow {
    width: $ring-size;
    height: $ring-size;
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: $ring-size / 2;
  }

  .btn-remove-section {
    margin-left: 30;
  }

  .btn-heart-section {
    margin-right: 30;
  }

  .btn {
    width: $circle-size;
    height: $circle-size;
    border-radius: $circle-size / 2;

    background-color: $white;
  }

  .btn-remove {
    button {
      font-size: 36;
      color: rgb(236, 3, 63);
    }
  }

  .btn-heart {
    button {
      margin-top: 3;

      font-size: 30;
      color: rgb(221, 49, 247);
    }
  }
}
