.background {
  background-image: url("res://bg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

Label {
  font-size: 12;
  font-weight: 500;
  font-family: 'Avenir Next', sans-serif;
  color: white;
}

