@import 'assets/styles/mixins.scss';

@import 'assets/styles/variables.scss';

.button {
  padding: 10 12 10 10;
  min-width: 52;
  border-radius: 2;
}

.button-full {
  padding: 0;
}

.button-small {
  padding: 2 4 1 4;
  min-width: 28;
  min-height: 30;
  font-size: 12;
}

.button-large {
  padding: 0 16 0 16;
  min-width: 68;
  min-height: 59;
  font-size: 20;
}

.button-light {
  background-color: $color-light;
  color: $color-accent;
  border-color: #b2b2b2;
  border-width: 1;
}

.button-accent {
  background-color: $color-accent;
  color: $color-light;
  border-color: $color-accent;
  border-width: 1;

  .button-outline {
    background-color: $color-light;
    color: $color-accent;

  }
}

.button-dark {
  background-color: $color-dark;
  color: $color-light;

  .button-outline {
    color: $color-dark;
    border-color: $color-dark;
    border-width: 1;
  }
}

// Default "theme-core-scss" theme
.btn {
  color: $btn-color;
  background-color: transparent;
  min-height: 36;
  min-width: 64;
  &.btn-active:highlighted {
    color: $white;
    background-color: $btn-color-outline-highlighted;
  }

  @include button-base($btn-color, $btn-padding-y, $btn-padding-x, $btn-margin-y, $btn-margin-x, $btn-font-size, $btn-radius, 0);
}

.btn-primary {
  color: $white;
  background-color: $btn-color;
  border-color: $btn-color;
  &.btn-active:highlighted {
    border-color: $btn-color-secondary;
    background-color: $btn-color-secondary;
  }
}

.btn-outline {
  color: $btn-color;
  background-color: transparent;
  border-color: $btn-color;
  &.btn-active:highlighted {
    background-color: $btn-color-outline-highlighted;
  }
}

.btn[isEnabled=false] {
  color: $btn-color-disabled;
  background-color: $grey;
  border-color: $grey;
}

.btn-rounded-lg {
  border-radius: 20;
}
