@import 'assets/styles/variables.scss';

.segmented-bar {
  height: 50;

  font-size: 13;

  .segmnted-bar-light {
    background-color: $color-light;
  }

  .segmented-bar-accent {
    background-color: $color-accent;
    color: $color-light;

  }

  .segmented-bar-dark {
    background-color: $color-dark;
    color: $color-light;
  }
}

