@import 'assets/styles/variables.scss';

.slider {
  background-color: $accent;

  &[isEnabled=false] {
    background-color: $grey;
    color: $grey;
  }
}

.slider-light {
  background-color: $color-light;
}

.slider-accent {
  background-color: $color-accent;
}

.slider-dark {
  background-color: $color-dark;
}
