.listview {
  color: black;

  .item {
    padding: 10 10 10 10;
    font-size: 16;
    color: #444;

    .h2 {
      margin: 0;
      margin: 0;
      font-size: 20;
    }

    .p {
      font-size: 14;
      color: #666;
      margin: 0;
    }
  }
}

.listview-inset {
  margin: 10;
  border-width: 1;
  border-color: #DDDDDD;
  border-radius: 10;
}

.item-avatar {

  image {
    border-radius: 25;
    width: 50;
    height: 50;
  }
}

.item-avatar stacklayout, .item-thumbnail stacklayout {
  padding-left: 16;
}