.action-bar-dark {
  height: 40;

  background-color: rgb(45, 45, 46);
}

.footer {
  height: 40;

  background-color: rgb(251, 251, 251);

  button {
    font-size: 18;
    color: rgb(175, 175, 175);
  }
}
